<?xml version="1.0"?>
<config>

    <modules>
        <Digidennis_QuickpayDolink>
            <version>0.0.1</version>
        </Digidennis_QuickpayDolink>
    </modules>

    <!--adminhtml>
        <events>
            <sales_order_shipment_save_before>
                <observers>
                    <digidennis_dkshipping_sales_order_shipment_save_before>
                        <type>singleton</type>
                        <class>digidennis_dkshipping/observer</class>
                        <method>salesOrderShipmentSaveBefore</method>
                    </digidennis_dkshipping_sales_order_shipment_save_before>
                </observers>
            </sales_order_shipment_save_before>
        </events>
    </adminhtml-->

    <global>
        <models>
            <digidennis_quickpaydolink>
                <class>Digidennis_QuickpayDolink_Model</class>
            </digidennis_quickpaydolink>
        </models>
        <blocks>
            <digidennis_quickpaydolink>
                <class>Digidennis_QuickpayDolink_Block</class>
            </digidennis_quickpaydolink>
        </blocks>
        <helpers>
            <digidennis_quickpaydolink>
                <class>Digidennis_QuickpayDolink_Helper</class>
            </digidennis_quickpaydolink>
        </helpers>
    </global>
</config>