<?xml version="1.0"?>
<config>

    <modules>
        <Digidennis_QuickpayDolink>
            <version>0.0.1</version>
        </Digidennis_QuickpayDolink>
    </modules>

    <global>
        <models>
            <digidennis_quickpaydolink>
                <class>Digidennis_QuickpayDolink_Model</class>
            </digidennis_quickpaydolink>
            <quickpaypayment>
                <rewrite>
                    <observer>Digidennis_QuickpayDolink_Model_Observer</observer>
                </rewrite>
            </quickpaypayment>
        </models>
        <blocks>
            <digidennis_quickpaydolink>
                <class>Digidennis_QuickpayDolink_Block</class>
            </digidennis_quickpaydolink>
            <quickpaypayment>
                <rewrite>
                    <info_quickpay>Digidennis_QuickpayDolink_Block_Info_Quickpay</info_quickpay>
                </rewrite>
            </quickpaypayment>
        </blocks>
        <helpers>
            <digidennis_quickpaydolink>
                <class>Digidennis_QuickpayDolink_Helper</class>
            </digidennis_quickpaydolink>
        </helpers>
    </global>

    <frontend>
        <routers>
            <quickpaypayment>
                <args>
                    <modules>
                        <Digidennis_QuickpayDolink before="Quickpay_Payment">Digidennis_QuickpayDolink</Digidennis_QuickpayDolink>
                    </modules>
                </args>
            </quickpaypayment>
        </routers>
    </frontend>
</config>